
.main-contaimar4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.content4{
    width: 500px;
    height: 600px;
    background-color:  #2F4050;
    border-radius: 10px;
}
.header4{
    height: 60px;
    background-color: hsl(200, 100%, 50%);
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.header4 .vv4{
    color: white;
    position: relative;
    top: 30%;
    left: 6%;
    font-family: "Poppins", sans-serif;
font-weight: 200;
}
.fa-times4{
    color: white;
    position: relative;
    left: 94%;
    bottom: 10%;
    font-size: x-large;
}
.uploadct4{
    background-color: antiquewhite;
}
.upload4{
    background-color:  #2F4050;
    height: 7%;
    width: 45%;
    position: relative;
    left: 42%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.759);
}
.text4{
    color: rgba(255, 255, 255, 0.557);
    position: relative;
    left: 45%;
    bottom: 44%;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}
.logo4{
color:  rgba(255, 255, 255, 0.557) ;
position: relative;
left: 20%;
top: 13%;
font-size: x-large;
}
.vendor4{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    position: relative;
    top: 10%;
    left: 5%;
}
.placeholder4{
    position: relative;
    left: 5%;
    top: 7%;
    
}
.placeholder4 input[type="text"]{
    width: 80%;
    padding: 8px;
    border-radius: 10px;
color:rgba(255, 255, 255, 0.557);
background-color: #2F4050 ;
border: 1px solid white;
}

.vendor4{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    position: relative;
    top: 11%;
    left: 5%;
}
.second-contenar44{
    position: relative;
    left: 5%;
    top: 13%;
}
.second-contenar44 input[type="email"]{
    padding: 5%;
    width: 35%;
    border-radius: 10px;
    color:rgba(255, 255, 255, 0.557);
    background-color: #2F4050 ;
    border: 1px solid white;
}
.second-contenar4{
    position: relative;
    left: 45%;
    bottom: -2%;
}
.second-contenar4 input[type="contact"]{
    padding: 5%;
    width: 35%;
    border-radius: 10px;
    color:rgba(255, 255, 255, 0.557);
    background-color: #2F4050 ;
    border: 1px solid white;
}

.sumbt4{
    position: relative;
    left: 60%;
    bottom: -5%;
}

.login-footeeer4{
   
  }
  .Button4{
    background-color: hsl(200, 100%, 50%);
    color: white;
    padding: 7px 60px;
    border-radius: 8px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }